


html, body {
	margin: 0px;
	padding: 0px;
	border: 0px;
	position:fixed;
    top:0;
    bottom:0;
    left:0;
    right:0;
}


#willgg {
	width: 80px;
	height: 80px;
	float: left;
}

#jimmy {
	bottom: 10%;
	left:12px;
	width: 60;
	height: 60px;
	position: fixed;
}

#bean {
	width: 600px;
	margin-left: 200px;
}

#carousel {
	border-style: solid;
	height: 450px;
}

#side {
	float: left;
	position: fixed;
	left: 0px;
	height: 100%;
	width: 80px;
	border-style: solid;
	background-color: grey;
}